* {
  font-family: 'Operator Mono', Courier New, Courier, monospace;
  font-size: 14px;
  box-sizing: border-box;
}

body,
html,
main {
  margin: 0;
  height: 100%;
}

main {
  display: flex;
  position: relative;
  flex-direction: column;
}

.CodeMirror {
  padding: 5px 0;
  display: block;
  width: 100%;
  height: 100%;
}

#input > .CodeMirror {
  height: auto;
}

textarea:focus {
  background: white;
}

#input {
  /* width: 100%; */
  /* min-width: 100%; */
  /* max-width: 100%; */
  /* min-height: 30px; */
  line-height: 18px;
  /*   grid-column: 1 / -1; */
  flex: none;
  height: auto;
  border-bottom: 3px solid black;
}

.editors {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}


main .editors > div {
  width: 50%;
  border: 0;
  display: block;
  position: relative;
  outline: none;
  background: #f7f7f7;
}

#result {
  border-left: 3px solid black;
}


.editor:before {
  position: absolute;
  z-index: 10;
  opacity: 0.9;
  top: 0;
  right: 0;
  font-size: 70%;
  padding: 5px 10px 7px 8px;
  color: #666;
  /* background: black; */
  border-bottom-left-radius: 2px;
}

#result:before {
  content: 'result';
}

#source:before {
  content: 'source';
}

@media (min-width: 720px) {
  main {
    grid-template-rows: 1fr 90fr;
    grid-template-columns: 10fr 10fr;
  }

  #source {
    grid-column: 1;
    grid-row: 2;
  }

  #result {
    grid-column: 2;
    grid-row: 2;
  }
}
