* {
  font-family: 'Operator Mono', Courier New, Courier, monospace;
  font-size: 14px;
  box-sizing: border-box;
}

body,
html,
main {
  margin: 0;
  height: 100%;
}

main {
  display: flex;
  position: relative;
  flex-direction: column;
}

.CodeMirror {
  /* padding: 5px 0; */
  display: block;
  width: 100%;
  height: 100%;
}

#input > .CodeMirror {
  height: auto;
  padding: 10px;
}

#input {
  max-height: 60%;
  overflow: scroll;
}

textarea:focus {
  background: white;
}

#input {
  line-height: 18px;
  flex: none;
  height: auto;
  border-bottom: 3px solid black;
}

.theme-light #input {
  border-bottom: 3px solid #ccc;
}

.editors {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.widget-autocomplete {
  opacity: 0.5;
}

main .editors > div {
  width: 100%;
  border: 0;
  display: block;
  position: relative;
  outline: none;
  height: 50%;
  background: #f7f7f7;
}

#result {
  border-bottom: 3px solid black;
}

.editor:before {
  position: absolute;
  z-index: 10;
  opacity: 0.9;
  top: 0;
  right: 0;
  font-size: 70%;
  padding: 5px 10px 7px 8px;
  color: #666;
  /* background: black; */
  border-bottom-left-radius: 2px;
}

#result:before {
  content: 'result';
}

#source:before {
  content: 'source';
}

@media (min-width: 720px) {
  .editors {
    flex-direction: row;
  }

  main .editors > div {
    width: 50%;
    height: 100%;
  }

  #result {
    border-bottom: 0;
    border-left: 3px solid black;
  }

  .theme-light #result {
    border-left: 3px solid #ccc;
  }
}
